body{
    font-family: Arial;
    margin: 0;
    background-color: lightskyblue;
}
h1{
    text-align: center;
}
#formLogin{
    width: 20%;
    margin: 20px auto;
}
footer{
    margin: 10px 0;
    padding: 10px;
    background-color: #0053b2;
    text-align: center;
    font-weight: bold;
}
/*Terminal.html*/
.terminalMain{
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}