{%extends 'base.html'%}

{%block principal%}
        <h1 id="termH1">Terminal {{usr}}</h1>
        <center id="termCenter">Esta es su central de comandos...</center>
        <div class="terminalMain">
            <input value=""></input>
        </div>
        <button><a href="/login">Logout</a></button>
        <script>
            //Necesitamos estar actualizando constantemente [inodo_del_direcotio_actual]

            $(document).ready(function(){
                terminalMatrix()     
            });
        </script>
{%endblock%}